.settingsContainer {
    flex: 1;
    display: flex;
    flex-flow: column;
}

.settingsRow1 {
    display: flex;
    flex-flow: row;
    flex: initial;
    background-color: #fff;
    border-bottom: 2px solid #ff0000;
    color: #000;
    justify-content: center;
    align-items: center;
}

/* this row should grow to fill as much space as it needs */
.settingsRow2 {
    display: flex;
    flex-flow: column;
    flex: 1;
    min-height: 10rem;
}

.settingsRow2Col1 {
    width: 100%;
    flex: 1;
    border-bottom: solid 2px #ff0000;
    border-right: none;
    display: flex;
    flex-flow: column;
}

.settingsRow2Col1Content {
    flex: 1;
    position: relative;
}

.settingsRow2Col2 {
    width: 100%;
    flex: 1;
    border-bottom: solid 2px #ff0000;
    border-right: none;
    display: flex;
    flex-flow: column;
}

.settingsRow2Col2Content {
    flex: 1;
    position: relative;
}

.settingsRow2 h2 {
    text-align: center;
    background-color: #ff0000;
    margin: 0;
    padding: 1rem;
    color: #fff;
}

.settingsRow2Col3 {
    width: 100%;
    flex: 1;
    display: flex;
    flex-flow: column;
    border-bottom: solid 2px #ff0000;
}

.settingsRow2Col3Content {
    flex: 1;
    position: relative;
    display: flex;
    /*justify-content: center;
    align-items: center;*/
}

.editLink {
    position: absolute;
    top: 0;
    right: 2px;
    cursor: pointer;
}

.infoLink {
    position: absolute;
    transition: opacity;
    top: 0;
    left: 4px;
}

.infoLink:hover {
    opacity: .7;
    cursor: pointer;
}

div > h4 {
    margin: .5rem;
    text-align: left;
}

.myModalDialog {
    background-color: #ff0000;
    position: relative;
    top: 50%;
    left: 50%;
    border: .1rem solid rgb(204, 204, 204);
    border-radius: 4px;
    outline: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    -webkit-transform: translate(-50%,-50%) scale(0) ;
    transform: translate(-50,-50%) scale(0) ;
    transition: all 300ms ease-in-out;
    overflow: scroll;
    /*height: 25rem;*/
        /*-webkit-transform: translate3d(0px,75px,0px);
    transform: translate3d(0px,75px,0px);*/
}

.myOverlay {
    background-color: rgba(131, 9, 9, 0.541);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    /*-webkit-transform: scale(0.5);
    transform: scale(0.2);
    /*opacity: 0;*/
    
}

/* Remove scroll on the body when react-moadl is open */
.ReactModal__Body--open {
    overflow: hidden;
}

  .ReactModal__Overlay--after-open {
    /*opacity: .9;*/
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: all 300ms ease-in-out;
  }

  .ReactModal__Overlay--before-close {
    /*opacity: 0;*/
    /*-webkit-transform: scale(0.5);
    transform: scale(0.2);*/
    transition: all 300ms ease-in-out;
    
  }

  .ReactModal__Content--after-open {
    -webkit-transform: translate(-50%,-50%) scale(1);
    transform: translate(-50,-50%) scale(1);
      /*-webkit-transform: translate3d(0px,0px,0px);
    transform: translate3d(0px,0px,0px);*/
    transition: all 300ms ease-in-out;
  }
  
  .ReactModal__Content--before-close {
    -webkit-transform: translate(-50%,-50%) scale(0) ;
    transform: translate(-50,-50%) scale(0) ;
    /*-webkit-transform: translate3d(0px,75px,0px);
    transform: translate3d(0px,75px,0px);*/
    transition: all 300ms ease-in-out;
  }
@media screen and (min-width: 1000px) {

.settingsRow2 {
    flex-flow: row;
}

.settingsRow2Col1 {
    /*width: 50%;*/
    border-right: solid 2px #ff0000;

}

.settingsRow2Col2 {
    /*width: 50%;*/
    border-right: solid 2px #ff0000;
}

.deleteAll:hover {
    opacity: .7;
}

}